
<title><%= title %></title>

<%- include('mainHeader.ejs') %>

<body>
  <h1 class="carthead">Your Shopping Cart</h1>

  <% if (cart && cart.items.length > 0) { %>
    <div class="cart-items">
      <% cart.items.forEach(item => { %>
        <div class="cart-item">
          <img src="<%= item.productId.imageUrls[0] %>" alt="<%= item.productId.name %>">
          <div class="item-details">
            <h3><%= item.productId.name %></h3>
            <p>Price: $<%= item.productId.price.toFixed(2) %></p>
            <p>Quantity: <%= item.quantity %></p>
          </div>
        </div>
      <% }); %>

      <div class="cart-summary">
        <h2>Order Summary</h2>
        <p>Total Items: <%= cart.items.length %></p>
        <p>Total Price: $<%= cart.totalPrice.toFixed(2) %></p>
      </div>
    </div>
  <% } else { %>
    <div class="null">
      <img src="/images/emptycart.png" alt="">
      <p class="hey">Hey,it feels so light!</p>
      <p class="your">Your bag is empty.</p>
      <p class="lets">Lets add some items!</p>
      <a href="/"><button class="btn">Continue Shopping</button></a>
    </div>
  <% } %>

</body>
</html>
