
<title><%= title %></title>

<%- include('mainHeader.ejs') %>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<body>

<div class="cartContainer">
    <h1 class="carthead">Your Shopping Cart</h1>

    <div class="cartContent<%= (cart && cart.products && cart.products.length > 0) ? '' : ' emptyCart' %>">
    
    <div class="cartLeft<%= (cart && cart.products && cart.products.length > 0) ? '' : ' emptyCart' %>">
    
        <% if (cart && cart.products && cart.products.length > 0) { %>
            
    
            <div class="offer-section">
                <div class="offer-sectionup">
                    <img src="/images/discount.png" alt="">
                    <h2>Available Offers</h2>
                </div>
                <div class="offer-sectiondown">
                    <p>10% instant discount on Citi Credit & Debit Cards on a min spend of  &nbsp; ₹3000.TCA</p>
                </div>
            </div>
    
    <div class="item-section">
        <ul>
            <% cart.products.forEach(item => { %>
                <li>
                    <div class="item-sectionall">

                        <div class="item-sectionleft">
                            <img src="<%= item.product.imageUrls[0] %>" alt="<%= item.product.name %>">
                        </div>

                        <div class="item-sectionright">
                            <h3><%= item.product.name %></h3>

                            <div class="quantitybuttons">
                                <button onclick="updateQuantity('<%= item._id %>', -1,'<%= item.product.price%>','<%= item.product.ogPrice%>')">-</button>Quantity:
                                <span id="<%= item._id %>Quantity"><%= item.quantity %></span>
                                <button onclick="updateQuantity('<%= item._id %>', 1,'<%= item.product.price%>','<%= item.product.ogPrice%>')">+</button> 
                            </div>

                            <div class="itemPrice">
                                <% const finalPrice = item.product.price * item.quantity; %>
                                <% const finalOgPrice = item.product.ogPrice * item.quantity; %>
                                <p class="productPrice<%=item._id%> productPrice" id="productPrice<%=item._id%>">₹ <%= finalPrice %></p>
                                <del class="productOgPrice<%=item._id%> productOgPrice" id="productOgPrice<%=item._id%>">₹ <%= finalOgPrice %></del>
                            </div>      
                            
                            <div class="texts">
                                <div class="textup">
                                    <img src="/images/product-return.png" alt="">
                                    <p> 14 days return available.</p>
                                </div>
                                <div class="textdown">
                                    <img src="/images/check.png" alt=""> 
                                    <p>Delivery by <%= deliveryDate.toDateString() %></p>
                                </div>
                            </div>    

                            <div class="itembtns">
                                <button class="removeItem" onclick="confirmRemove('<%= item._id %>')">Remove From Cart</button>         
                            </div>

                        </div>
                    </div>                     
                </li>
            <% }); %>
        </ul> 
    </div>

            <a href="/wishlist">
                <div class="leftdown">
                    <i class="fa-regular fa-bookmark"></i>
                    <div class="leftdownText">Add More From Wishlist</div>
                    <i class="fa-solid fa-arrow-right leftdownarrow"></i>
                </div>
            </a>
                      
    </div>
    
    <div class="cartRight">

        <div class="coupon-section">
            <div class="couponUp">
                <div class="couponimg"><img src="/images/coupon.png" alt=""></div>
                <div class="coupontext">Apply Coupons</div>
            </div>
            <div class="couponDown">
                <input type="text" name="couponCode" id="couponCode" placeholder="Enter your Coupon Code">
                <button class="apply">Apply</button>
            </div>
        </div>

        <div class="gift-section">
            <img src="/images/gift-ribbon.png" alt="">
            <div class="gifttext">
                <p class="p1">Buying for a special person?</p>
                <p class="p2">Gift wrap, only for ₹20</p>
                <button id="addGiftWrapBtn">Add Gift Wrap</button>
            </div>
        </div>

        <div class="price-section">
            <div class="priceHead">Price Details</div>
            <div class="pricetext">
                <div class="pt1">
                    <p>Total MRP :</p>
                    <p class="mrp" id="totalCartOgPrice"> ₹ <%= cart.totalOgPrice %></p>
                </div>
                <div class="pt1">
                    <p>Discount :</p>
                    <p class="discount" id="totalCartDiscount"> ₹ <%= cart.discount %></p>
                </div>
                <div class="pt1">
                    <p>Our Price :</p>
                    <p class="price" id="totalCartPrice"> ₹ <%= cart.totalPrice %></p>
                </div>               
                <div class="pt1">
                    <p>Coupon Discount :</p>
                    <% if (coupon.expiry < new Date()) { %>
                        <p style="color: rgb(248, 88, 88);" >Coupon Expired</p>
                    <% } else { %>
                        <p class="couponDiscount"><%= coupon.discount %></p>
                    <% } %>
                </div>
                
                <div class="pt1">
                    <p class="shipping">Shipping Fee :</p>
                    <p class="free"> FREE</p>
                </div>  
                <div class="pt1">
                    <p class="totalamount">Total Amount :</p>
                    <% if (coupon.discount !== undefined && coupon.discount !== null) { %>
                        <% const discountedAmount = cart.totalPrice - (cart.totalPrice * (parseFloat(coupon.discount) / 100)); %>
                        <p class="amount totalamount" id="totalAmountValue"> ₹ <%= discountedAmount %></p>
                    <% } else { %>
                        <p class="amount totalamount" id="totalAmountValue"> ₹ <%= cart.totalOrderAmount %></p>
                    <% } %>                    
                </div>                
                            
            </div>         
           <a href="/checkout"> <button class="place">Place Order</button></a>
        </div>

    </div>

    <% } else { %>
        <div class="null">
            <img src="images/emptycart.png" alt="">
            <p class="hey">Hey, it feels so light!</p>
            <p class="lets">Let's add some items. </p>
            <a href="/"><button class="btn">Continue Shopping</button></a>
        </div>
    <% } %>
</div>
    
</div>



<script src="js/cart.js"></script>

</body>
</html>
