<title><%= title %></title>

<%- include('mainHeader.ejs') %>
<body>

<div class="productDetailsContainer">

    <div class="product-images product-images-slider">
        <% if (product.imageUrls && product.imageUrls.length > 0) { %>
            <% for (let i = 0; i < product.imageUrls.length; i++) { %>
                <img src="<%= product.imageUrls[i] %>" alt="<%= product.name %>" class="product-img default <%= i === 0 ? 'active' : '' %>">
            <% } %>
        <% } %>
    </div>

    <div class="detailsRight">
        <h1 class="productName"><%= product.name %></h1>
        <div class="productPrices">
            <p>₹ <%= product.price %></p>
            <% if (product.ogPrice !== undefined) { %>
                <del>₹ <%= product.ogPrice.toFixed(2) %></del>
              <% } %>
              <h6 style="color: gray;" >( Inclusive of all taxes )</h6>
        </div>
        <div class="showcase-rating">
            <% for (let i = 0; i < product.rating; i++) { %>
                <i class="fa-solid fa-star"></i>
            <% } %>
          </div>
        <div class="btns">
            <button class="addToCart">Add To Cart</button>  
            <button class="wishlist">Wishlist</button>
        </div>    
        <p class="desc"><b>Description:</b> <%= product.description %></p>    

        <div class="pngs">
            <div class="png1"><img src="/images/delivery.png" alt=""> Get it by Mon, Feb 12 </div>
           <div class="png1"><img src="/images/cash-on-delivery.png" alt="">Pay on delivery available</div>
           <div class="png1"><img src="/images/arrows.png" alt="">Easy 14 days return & exchange available</div> 
        </div>
    </div>  
    
</div>
        
     
          <script>
            document.addEventListener("DOMContentLoaded", function () {
                let currentImageIndex = 0;
                const images = document.querySelectorAll('.product-images-slider .product-img');
                const totalImages = images.length;       
                function showImage(index) {
                    images.forEach((img, i) => {
                        img.classList.toggle('active', i === index);
                    });
                }       
                function nextImage() {
                    currentImageIndex = (currentImageIndex + 1) % totalImages;
                    showImage(currentImageIndex);
                }       
                setInterval(nextImage, 4000);
            });
        </script>
        
        
</body>
