<title><%= title %></title>

<%- include('mainHeader.ejs') %>
<%- include('profileHeader.ejs') %>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<link rel="stylesheet" href="css/mainCSS/swal.css">
<link rel="shortcut icon" href="images/cartlogo.png" type="image/x-icon">
<body>

<div class="main">
                <form action="/profile" method="post" class="forms" id="profileForm">
                    <h2 class="profilehead">User Profile</h2>

                    <label for="name">Name</label>
                    <input type="text" id="name" name="name" value="<%= user.name %>">
            
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" value="<%= user.email %>" readonly>
            
                    <label for="phone">Phone</label>
                    <input type="number" id="phone" name="phone" value="<%= user.phone %>" readonly>

                    <label for="dob">Date of Birth</label>
                    <input type="date" id="dob" name="dob" value="<%= user.dob %>">

                    <label for="gender">Gender</label>
                    <select id="gender" name="gender">
                        <option value="male" <%= user.gender === 'male' ? 'selected' : '' %>>Male</option>
                        <option value="female" <%= user.gender === 'female' ? 'selected' : '' %>>Female</option>
                        <option value="other" <%= user.gender === 'other' ? 'selected' : '' %>>Other</option>
                    </select>

                    <label for="alternateMobile">Alternate Mobile</label>
                    <input type="number" id="alternateMobile" name="alternateMobile" value="<%= user.alternateMobile %>">

                    <button type="submit" class="update">Update Profile</button>
                </form>

</div>

    <script src="/js/profileScript.js"></script>

</body>
