<!-- updateProduct.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Update Product</title>
  <link rel="shortcut icon" href="images/cartlogo.png" type="image/x-icon">
  <link rel="stylesheet" href="/css/adminCSS/updateProduct.css">
</head>
<body>
  <a href="/adminHome" style="color: white;">
    <div class="logo" style="display: flex;gap: 5px; margin-top: 15px;margin-left: 15px;">
      <img src="/images/cartlogo.png" alt="cart" class="cartlogo">
      <h2 class="smart">SHOP <span>ON</span></h2>
  </div>
  </a>
  </a>
  <div class="content-container">

    <% if (product) { %>
      <form action="/updateProduct/<%= product._id %>" method="post" enctype="multipart/form-data">
        <h1>Update Product</h1>

        <div class="inp1">
          <label for="images">Product Images:</label>
          <input type="file" id="images" name="productimg" accept="image/*" multiple>
        </div>
  
        <div class="inp1">
          <label for="name">Name:</label>
          <input type="text" id="name" name="name" value="<%= product.name %>" required>
        </div>
  
        <div class="inp1">
          <label for="category">Category:</label>
          <input type="text" id="category" name="category" value="<%= product.category %>" required>
        </div>
  
        <div class="inp1">
          <label for="description">Description:</label>
          <textarea id="description" name="description" rows="4" required><%= product.description %></textarea>
        </div>
  
        <div class="inp1">
          <label for="rating">Rating:</label>
          <input type="number" id="rating" name="rating" value="<%= product.rating %>" min="0" max="5" required>
        </div>
  
        <div class="inp1">
          <label for="price">Price:</label>
          <input type="number" id="price" name="price" value="<%= product.price %>" step="0.01" required>
        </div>
  
        <div class="inp1">
          <label for="ogPrice">Original Price:</label>
          <input type="number" id="ogPrice" name="ogPrice" value="<%= product.ogPrice %>" step="0.01">
        </div>
  
        <button type="submit" class="update">Update Product</button>
      </form>
    <% } else { %>
      <p>Product not found.</p>
    <% } %>
  </div>
</body>
</html>
