<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ShopON</title>

  <script src="https://kit.fontawesome.com/ce01cf2811.js" crossorigin="anonymous"></script>


  <!--
    - favicon
  -->
  <link rel="shortcut icon" href="images/cartlogo.png" type="image/x-icon">
  <!--
    - custom css link
  -->
  <link rel="stylesheet" href="css/userCSS/userHome.css">

  <!--
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">

</head>

<body style="background-color: black; color: white; ">

  <!--
    - HEADER
  -->

  <header>

    <div class="header-main">

      <div class="container"

        <a href="/">
        <div class="left">
          <img class="logo" src="images/cartlogo.png" alt="">
          <div class="SHOPON">
              <span class="shop" style="color: white;">&nbsp;&nbsp;SHOP</span>
              <span class="on">ON</span>
          </div>
        </div>
      </a>


        <div class="header-search-container">

          <input type="search" name="search" class="search-field" placeholder="Enter your product name...">

          <button class="search-btn">
            <ion-icon name="search-outline"></ion-icon>
          </button>

        </div>

        <div class="header-user-actions">

          <button class="action-btn">
           <a href="/profile"> <ion-icon name="person-outline" class="profile"></ion-icon></a> 
          </button>

          <button class="action-btn">
           <a href="/wishlist"><ion-icon name="heart-outline" class="wishlist"></ion-icon></a> 
          </button>

          <button class="action-btn">
          <a href="/cart"> <ion-icon name="bag-handle-outline" class="cart"></ion-icon></a> 
          </button>

        </div>

      </div>

    <nav class="desktop-navigation-menu">

      <div class="container items">

        <ul class="desktop-menu-category-list">

          <li class="menu-category">
            <a href="/" class="menu-title">Home</a>
          </li>

         
          <li class="menu-category">
            <a href="/menSection" class="menu-title">Men's</a>
          </li>

          <li class="menu-category">
            <a href="/womenSection" class="menu-title">Women's</a>
          </li>

          <li class="menu-category">
            <a href="/jewelrySection" class="menu-title">Jewelry</a>
          </li>

          <li class="menu-category">
            <a href="/perfumeSection" class="menu-title">Perfume</a>
          </li>

          
          <li class="menu-category">
            <a href="/electronicSection" class="menu-title">Electronics</a>
          </li>

        </ul>

      </div>

    </nav>
  </div>

  </header>





  <!--
    - MAIN
  -->

  <main>
    


    <!--
      - BANNER
    -->

    <div class="banner-slider">
        <div class="slider-container">
          <% if(banners) {%>
          <% banners.forEach(banner => { %>
            <div class="slider-item">
              <img src="images/<%= banner.imageUrl %>" alt="Banner" class="banner-img">
              <div class="banner-overlay">
                <p class="banner-content"><%= banner.content %></p>
              </div>
            </div>
          <% }); %>
          <% }%>
        </div>
    </div>
    
    <!--
      - PRODUCT
    -->

    <div class="product-container">

      <div class="container">


        <!--
          - SIDEBAR
        -->

        <div class="sidebar  has-scrollbar" data-mobile-menu>

          <div class="sidebar-category">

            <div class="sidebar-top">
              <h2 class="sidebar-title">Category</h2>
            </div>

          <div class="sidebar-bottom">

            <ul class="sidebar-menu-category-list">

              <li class="sidebar-menu-category">

                <button class="sidebar-accordion-menu" data-accordion-btn>

                  <div class="menu-title-flex">
                    <img src="images/icons/dress.svg" alt="clothes" width="20" height="20"
                      class="menu-title-img">

                    <p class="menu-title">Clothes</p>
                  </div>

                </button>

              </li>

              <li class="sidebar-menu-category">

                <button class="sidebar-accordion-menu" data-accordion-btn>

                  <div class="menu-title-flex">
                    <img src="images/icons/shoes.svg" alt="footwear" class="menu-title-img" width="20"
                      height="20">

                    <p class="menu-title">Footwear</p>
                  </div>

                </button>

              </li>

              <li class="sidebar-menu-category">

                <button class="sidebar-accordion-menu" data-accordion-btn>

                  <div class="menu-title-flex">
                    <img src="images/icons/jewelry.svg" alt="clothes" class="menu-title-img" width="20"
                      height="20">

                    <p class="menu-title">Jewelry</p>
                  </div>

                </button>

              </li>

              <li class="sidebar-menu-category">

                <button class="sidebar-accordion-menu" data-accordion-btn>

                  <div class="menu-title-flex">
                    <img src="images/icons/perfume.svg" alt="perfume" class="menu-title-img" width="20"
                      height="20">

                    <p class="menu-title">Perfume</p>
                  </div>

             
                </button>

              </li>

              <li class="sidebar-menu-category">

                <button class="sidebar-accordion-menu" data-accordion-btn>

                  <div class="menu-title-flex">
                    <img src="images/icons/cosmetics.svg" alt="cosmetics" class="menu-title-img" width="20"
                      height="20">

                    <p class="menu-title">Cosmetics</p>
                  </div>
                 
                </button>   

              </li>

              <li class="sidebar-menu-category">

                <button class="sidebar-accordion-menu" data-accordion-btn>

                  <div class="menu-title-flex">
                    <img src="images/icons/glasses.svg" alt="glasses" class="menu-title-img" width="20"
                      height="20">

                    <p class="menu-title">Glasses</p>
                  </div>

                </button>

              </li>

              <li class="sidebar-menu-category">

                <button class="sidebar-accordion-menu" data-accordion-btn>

                  <div class="menu-title-flex">
                    <img src="images/icons/bag.svg" alt="bags" class="menu-title-img" width="20" height="20">

                    <p class="menu-title">Bags</p>
                  </div>

                </button>

              </li>

            </ul>


          </div>

       
          </div>

          <div class="product-showcase">

            <h3 class="showcase-heading">best sellers</h3>

            <div class="showcase-wrapper">

              <div class="showcase-container">

                <div class="showcase">

                  <a href="#" class="showcase-img-box">
                    <img src="images/products/1.jpg" alt="baby fabric shoes" width="75" height="75"
                      class="showcase-img">
                  </a>

                  <div class="showcase-content">

                    <a href="#">
                      <h4 class="showcase-title">baby fabric shoes</h4>
                    </a>

                    <div class="showcase-rating">
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                    </div>

                    <div class="price-box">
                      <del>₹ 299</del>
                      <p class="price">₹ 199</p>
                    </div>

                  </div>

                </div>

                <div class="showcase">

                  <a href="#" class="showcase-img-box">
                    <img src="images/products/2.jpg" alt="men's hoodies t-shirt" class="showcase-img"
                      width="75" height="75">
                  </a>

                  <div class="showcase-content">

                    <a href="#">
                      <h4 class="showcase-title">men's hoodies t-shirt</h4>
                    </a>
                    <div class="showcase-rating">
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star-half-outline"></ion-icon>
                    </div>

                    <div class="price-box">
                      <del>₹ 899</del>
                      <p class="price">₹ 829</p>
                    </div>

                  </div>

                </div>

                <div class="showcase">

                  <a href="#" class="showcase-img-box">
                    <img src="images/products/3.jpg" alt="girls t-shirt" class="showcase-img" width="75"
                      height="75">
                  </a>

                  <div class="showcase-content">

                    <a href="#">
                      <h4 class="showcase-title">girls t-shirt</h4>
                    </a>
                    <div class="showcase-rating">
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star-half-outline"></ion-icon>
                    </div>

                    <div class="price-box">
                      <del>₹ 749</del>
                      <p class="price">₹ 689</p>
                    </div>

                  </div>

                </div>

                <div class="showcase">

                  <a href="#" class="showcase-img-box">
                    <img src="images/products/4.jpg" alt="woolen hat for men" class="showcase-img" width="75"
                      height="75">
                  </a>

                  <div class="showcase-content">

                    <a href="#">
                      <h4 class="showcase-title">woolen hat for men</h4>
                    </a>
                    <div class="showcase-rating">
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                    </div>

                    <div class="price-box">
                      <del>₹ 499</del>
                      <p class="price">₹ 449</p>
                    </div>

                  </div>

                </div>

              </div>

            </div>

          </div>

        </div>



        <div class="product-box">

          <!--
            - PRODUCT FEATURED
          -->

          <div class="product-featured">

            <h2 class="title">Deal of the day</h2>

            <div class="showcase-wrapper has-scrollbar">

              <div class="showcase-container">

                <div class="showcase">
                  
                  <div class="showcase-banner">
                    <img src="images/products/shampoo.jpg" alt="shampoo, conditioner & facewash packs" class="showcase-img">
                  </div>

                  <div class="showcase-content">
                    
                    <div class="showcase-rating">
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star-outline"></ion-icon>
                      <ion-icon name="star-outline"></ion-icon>
                    </div>

                    <a href="#">
                      <h3 class="showcase-title">shampoo, conditioner & facewash packs</h3>
                    </a>

                    <p class="showcase-desc">
                       Old Spice Anti-Dandruff shampoo is fuelled with high performance boosters to meet the hair and scalp needs of ultra demanding men.
                    </p>

                    <div class="price-box">
                      <p class="price">₹ 649.00</p>

                      <del>₹ 800.00</del>
                    </div>

                    <button class="add-cart-btn">add to cart</button>

                    <div class="countdown-box">

                      <p class="countdown-desc">
                        Hurry Up! Offer ends in:
                      </p>
                      <div class="categories__deal__countdown__timer" id="countdown">
                        <div class="cd-item">
                            <span id="days">00</span>
                            <p>Days</p>
                        </div>
                        <div class="cd-item">
                          <span>:</span>
                      </div>
                        <div class="cd-item">
                            <span id="hours">00</span>
                            <p>Hours</p>
                        </div>
                        <div class="cd-item">
                          <span>:</span>
                      </div>
                        <div class="cd-item">
                            <span id="minutes">00</span>
                            <p>Minutes</p>
                        </div>
                        <div class="cd-item">
                          <span>:</span>
                      </div>
                        <div class="cd-item">
                            <span id="seconds">00</span>
                            <p>Seconds</p>
                        </div>
                    </div>
                    
                    </div>

                  </div>

                </div>

              </div>
            </div>

          </div>



          <!--
            - PRODUCT GRID
          -->

         <div class="product-main">
      <h2 class="title">New Products</h2>

      <div class="product-grid">
        <% products.forEach(product => { %>
          <div class="showcase">           
            <div class="showcase-banner">
              <% if (product.imageUrls && product.imageUrls.length > 0) { %>
                <img src="<%= product.imageUrls[0] %>" alt="<%= product.name %>" class="product-img default">
              <% } %>
              <div class="showcase-actions">
                <form id="wishlistForm" action="<%= userWishlist && userWishlist.products.includes(product._id.toString()) ? '/removeFromWishlist/' + product._id : '/addToWishlist/' + product._id %>" method="post">
                  <input type="hidden" name="source" value="userhome">
                  <button id="wishlistButton" class="btn-action" data-product-id="<%= product._id %>">
                      <i class="fa-solid fa-heart buttonAction  <%= userWishlist && userWishlist.products.includes(product._id.toString()) ? 'redcolor' : '' %>" onclick="add(event)"></i>
                  </button>
              </form>                                                                              
              <form action="/addToCart" method="POST">
                <input type="hidden" name="productId" value="<%= product._id %>">
                <button type="submit" class="btn-action">
                  <i class="fa-solid fa-cart-shopping buttonAction"></i>
                </button>
              </form>                         
              <button type="submit" class="btn-action" id="infoButton" data-product-id="<%= product._id %>">
               <a href="/details/<%= product._id %>"><i class="fa-solid fa-circle-info buttonAction"></i></a> 
            </button>          
              </div>
            </div>
      
            <div class="showcase-content">
              <a href="/details/<%= product._id %>">
              <h3 class="showcase-name"><%= product.name %></h3>   
            </a>         
              <div class="price-box">
                <p class="price">₹ <%= product.price.toFixed(2) %></p>
                <% if (product.ogPrice !== undefined) { %>
                  <del>₹ <%= product.ogPrice.toFixed(2) %></del>
                <% } %>
              </div>
              <div class="showcase-rating">
                <% for (let i = 0; i < product.rating; i++) { %>
                  <ion-icon name="star"></ion-icon>
                <% } %>
              </div>
            </div>
          </div>
        <% }); %>
      </div>
      
    </div>
  </div>
      </div>
    </div>
  <!--
    - FOOTER
  -->

  <footer>

    <div class="footer-nav">

      <div class="container">

        <ul class="footer-nav-list">

          <li class="footer-nav-item">
            <h2 class="nav-title">Popular Categories</h2>
          </li>

          <li class="footer-nav-item">
            <a href="#" class="footer-nav-link">Fashion</a>
          </li>

          <li class="footer-nav-item">
            <a href="#" class="footer-nav-link">Electronic</a>
          </li>

          <li class="footer-nav-item">
            <a href="#" class="footer-nav-link">Cosmetic</a>
          </li>

          <li class="footer-nav-item">
            <a href="#" class="footer-nav-link">Health</a>
          </li>

          <li class="footer-nav-item">
            <a href="#" class="footer-nav-link">Watches</a>
          </li>

        </ul>

        <ul class="footer-nav-list">
        
          <li class="footer-nav-item">
            <h2 class="nav-title">Products</h2>
          </li>
        
          <li class="footer-nav-item">
            <a href="#" class="footer-nav-link">Prices drop</a>
          </li>
        
          <li class="footer-nav-item">
            <a href="#" class="footer-nav-link">New products</a>
          </li>
        
          <li class="footer-nav-item">
            <a href="#" class="footer-nav-link">Best sales</a>
          </li>
        
          <li class="footer-nav-item">
            <a href="#" class="footer-nav-link">Contact us</a>
          </li>
        
          <li class="footer-nav-item">
            <a href="#" class="footer-nav-link">Sitemap</a>
          </li>
        
        </ul>

        <ul class="footer-nav-list">
        
          <li class="footer-nav-item">
            <h2 class="nav-title">Our Company</h2>
          </li>
        
          <li class="footer-nav-item">
            <a href="#" class="footer-nav-link">Delivery</a>
          </li>
        
          <li class="footer-nav-item">
            <a href="#" class="footer-nav-link">Legal Notice</a>
          </li>
        
          <li class="footer-nav-item">
            <a href="#" class="footer-nav-link">Terms and conditions</a>
          </li>
        
          <li class="footer-nav-item">
            <a href="#" class="footer-nav-link">About us</a>
          </li>
        
          <li class="footer-nav-item">
            <a href="#" class="footer-nav-link">Secure payment</a>
          </li>
        
        </ul>

        <ul class="footer-nav-list">
        
          <li class="footer-nav-item">
            <h2 class="nav-title">Services</h2>
          </li>
        
          <li class="footer-nav-item">
            <a href="#" class="footer-nav-link">Prices drop</a>
          </li>
        
          <li class="footer-nav-item">
            <a href="#" class="footer-nav-link">New products</a>
          </li>
        
          <li class="footer-nav-item">
            <a href="#" class="footer-nav-link">Best sales</a>
          </li>
        
          <li class="footer-nav-item">
            <a href="#" class="footer-nav-link">Contact us</a>
          </li>
        
          <li class="footer-nav-item">
            <a href="#" class="footer-nav-link">Sitemap</a>
          </li>
        
        </ul>

        <ul class="footer-nav-list">

          <li class="footer-nav-item">
            <h2 class="nav-title">Contact</h2>
          </li>

          <li class="footer-nav-item flex">
            <div class="icon-box">
              <ion-icon name="location-outline"></ion-icon>
            </div>

            <address class="content">
              419 State 414 Rte
              Beaver Dams, New York(NY), 14812, USA
            </address>
          </li>

          <li class="footer-nav-item flex">
            <div class="icon-box">
              <ion-icon name="call-outline"></ion-icon>
            </div>

            <a href="tel:+607936-8058" class="footer-nav-link">(607) 936-8058</a>
          </li>

          <li class="footer-nav-item flex">
            <div class="icon-box">
              <ion-icon name="mail-outline"></ion-icon>
            </div>

            <a href="mailto:example@gmail.com" class="footer-nav-link">Shopon@gmail.com</a>
          </li>

        </ul>

        <div class="social">
          <ul class="header-social-container">

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-facebook"></ion-icon>
              </a>
            </li>
  
            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-twitter"></ion-icon>
              </a>
            </li>
  
            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-instagram"></ion-icon>
              </a>
            </li>
  
            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-linkedin"></ion-icon>
              </a>
            </li>
  
          </ul>
        </div>
      
      </div>

    </div>

    <div class="footer-bottom">

      <div class="container">

        <img src="images/payment.png" alt="payment method" class="payment-img">

        <p class="copyright">
          Copyright &copy; <a href="#">Anon</a> all rights reserved.
        </p>

      </div>

    </div>

  </footer>

  <!--
    - custom js link
  -->
  <script src="js/countdown.js"></script>
  <script src="js/banner.js"></script>
  <script src="js/heart.js"></script>

  <!--
    - ionicon link
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>